{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Machines</title>
    <link rel="stylesheet" href="{% static 'EthHack/css/machines/machines-home.css' %}" />
</head>
<body>
    <header>
        <h1 class="title">HTB Machines</h1>
    </header>

    <main>
        <div class="windows">
            <div class="box">
                <p class="box-title">Poseidon</p>
                <a href="{% url 'poseidon' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">OSCP A</p>
                <a href="{% url 'oscp_a' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">OSCP B</p>
                <a href="{% url 'oscp_b' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">Laser</p>
                <a href="{% url 'laser' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">Relia</p>
                <a href="{% url 'relia_home' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">Medtech</p>
                <a href="{% url 'medtech' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">Secura</p>
                <a href="{% url 'secura' %}"></a>
            </div>
        </div>
    </main>

    <main>
        <div class="windows">
            <div class="box">
                <p class="box-title">Flight</p>
                <a href="{% url 'flight' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">Blackfield</p>
                <a href="{% url 'blackfield' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">TheFruzz</p>
                <a href="{% url 'thefrizz' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">Puppy</p>
                <a href="{% url 'puppy' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">Certified</p>
                <a href="{% url 'certified' %}"></a>
            </div>
        
            <div class="box">
                <p class="box-title">EscapeTwo</p>
                <a href="{% url 'escape2' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">Administrator</p>
                <a href="{% url 'administrator' %}"></a>
            </div>

            <div class="box">
                <p class="box-title">Moteverde</p>
                <a href="{% url 'monteverde' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">Forest</p>
                <a href="{% url 'forest' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">Sauna</p>
                <a href="{% url 'sauna' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">Escape</p>
                <a href="{% url 'escape' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">Timelapse</p>
                <a href="{% url 'timelapse' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">Active</p>
                <a href="{% url 'active' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">Cicada</p>
                <a href="{% url 'cicada' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">Return</p>
                <a href="{% url 'return' %}"></a>
            </div>
        </div>




        <div class="windows">
            <div class="box">
                <p class="box-title">Sniper</p>
                <a href="{% url 'sniper' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">Giddy</p>
                <a href="{% url 'giddy' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">Arctic</p>
                <a href="{% url 'arctic' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">Querier</p>
                <a href="{% url 'querier' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">Secnotes</p>
                <a href="{% url 'secnotes' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">Heist</p>
                <a href="{% url 'heist' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">Remote</p>
                <a href="{% url 'remote' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">Jeeves</p>
                <a href="{% url 'jeeves' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">Bounty</p>
                <a href="{% url 'bounty' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">Access</p>
                <a href="{% url 'access' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">Mailing</p>
                <a href="{% url 'mailing' %}"></a>
            </div>

            <div class="box">
                <p class="box-title">ChatterBox</p>
                <a href="{% url 'chatterbox' %}"></a>
            </div>

            <div class="box">
                <p class="box-title">Netmon</p>
                <a href="{% url 'netmon' %}"></a>
            </div> <!--10/16-->

            <div class="box">
                <p class="box-title">Love</p>
                <a href="{% url 'love' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">Buff</p>
                <a href="{% url 'buff' %}"></a>
            </div>

            <div class="box">
                <p class="box-title">Jerry</p>
                <a href="{% url 'jerry' %}"></a>
            </div>

            <div class="box">
                <p class="box-title">Blue</p>
                <a href="{% url 'blue' %}"></a>
            </div>

            <div class="box">
                <p class="box-title">Retro</p>
                <a href="{% url 'retro' %}"></a>
            </div>
        </div>



        <div class="linux">
            <div class="box">
                <p class="box-title">Tabby</p>
                <a href="{% url 'tabby' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">Mentor</p>
                <a href="{% url 'mentor' %}"></a>
            </div>

            <div class="box">
                <p class="box-title">Jarvis</p>
                <a href="{% url 'jarvis' %}"></a>
            </div>

            <div class="box">
                <p class="box-title">OpenAdmin</p>
                <a href="{% url 'openadmin' %}"></a>
            </div>

            <div class="box">
                <p class="box-title">Sea</p>
                <a href="{% url 'sea' %}"></a>
            </div>

            <div class="box">
                <p class="box-title">Help</p>
                <a href="{% url 'help' %}"></a>
            </div>


            <div class="box">
                <p class="box-title">Irked</p>
                <a href="{% url 'irked' %}"></a>
            </div>

            <div class="box">
                <p class="box-title">Pilgrimage</p>
                <a href="{% url 'pilgrimage' %}"></a>
            </div>

            <div class="box">
                <p class="box-title">Valentine</p>
                <a href="{% url 'valentine' %}"></a>
            </div>

            <div class="box">
                <p class="box-title">DevOops</p>
                <a href="{% url 'devoops' %}"></a>
            </div>


            <div class="box">
                <p class="box-title">Nibbles</p>
                <a href="{% url 'nibbles' %}"></a>
            </div>


            <div class="box">
                <p class="box-title">Magick</p>
                <a href="{% url 'magick' %}"></a>
            </div>

            <div class="box">
                <p class="box-title">Pandora</p>
                <a href="{% url 'pandora' %}"></a>
            </div>


            <div class="box">
                <p class="box-title">Networked</p>
                <a href="{% url 'networked' %}"></a>
            </div>

            <div class="box">
                <p class="box-title">Builder</p>
                <a href="{% url 'builder' %}"></a>
            </div>


            <div class="box">
                <p class="box-title">Usage</p>
                <a href="{% url 'usage' %}"></a>
            </div>

            
            <div class="box">
                <p class="box-title">Soccer</p>
                <a href="{% url 'soccer' %}"></a>
            </div>

            <div class="box">
                <p class="box-title">UpDown</p>
                <a href="{% url 'updown' %}" class="a-box" id="updown"></a>
            </div>

            <div class="box">
                <p class="box-title">CodePartTwo</p>
                <a href="{% url 'CodePartTwo' %}" class="a-box" id="CodePartTwo"></a>
            </div>

            <div class="box">
                <p class="box-title">Topology</p>
                <a href="{% url 'Topology' %}" class="a-box" id="topology"></a>
            </div>

            <div class="box">
                <p class="box-title">Armageddon</p>
                <a href="{% url 'Armageddon' %}" class="a-box" id="armageddon"></a>
            </div>

            <div class="box">
                <p class="box-title">Editorial</p>
                <a href="{% url 'editorial' %}" class="a-box" id="editorial"></a>
            </div>

            <div class="box">
                <p class="box-title">Horizontall</p>
                <a href="{% url 'horizontal' %}" class="a-box" id="horizontall"></a>
            </div>

            <div class="box">
                <p class="box-title">Blocky</p>
                <a href="{% url 'blocky' %}" class="a-box" id="blocky"></a>
            </div>

            <div class="box">
                <p class="box-title">Down</p>
                <a href="{% url 'down' %}" class="a-box" id="down"></a>
            </div>

            <div class="box">
                <p class="box-title">Titanic</p>
                <a href="{% url 'titanic' %}" class="a-box" id="titanic"></a>
            </div>

            <div class="box">
                <p class="box-title">Perfection</p>
                <a href="{% url 'perfection' %}" class="a-box" id="perfection"></a>
            </div>

            <div class="box">
                <p class="box-title">Data</p>
                <a href="{% url 'data' %}" class="a-box" id="data"></a>
            </div>
        </div>
    </main>

    <header>
        <h1 class="title">PG Practice Machines</h1>
    </header>
    <main>
        <div class="windows">
            <div class="box">
                <p class="box-title">Algenon</p>
                <a href="{% url 'algenon' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">Internal</p>
                <a href="{% url 'internal' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">Kevin</p>
                <a href="{% url 'kevin' %}"></a>
            </div>
        </div>

        <div class="linux">
            <div class="box">
                <p class="box-title">Hetemit</p>
                <a href="{% url 'hetemit' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">ZenPhoto</p>
                <a href="{% url 'zenphoto' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">Nibbles</p>
                <a href="{% url 'pg_nibbles' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">Bratarina</p>
                <a href="{% url 'bratarina' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">Snookums</p>
                <a href="{% url 'snookums' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">Payday</p>
                <a href="{% url 'payday' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">Pelican</p>
                <a href="{% url 'pelican' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">ClamAV</p>
                <a href="{% url 'ClamAV' %}"></a>
            </div>
        </div>
    </main>

    <header>
        <h1 class="title">PG Play Machines</h1>
    </header>

    <main>
        <div class="linux">
            <div class="box">
                <p class="box-title">InsanityHosting</p>
                <a href="{% url 'insanityhosting' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">DC-9</p>
                <a href="{% url 'dc_9' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">Tre</p>
                <a href="{% url 'tre' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">BTRSys2.1</p>
                <a href="{% url 'BTRSys2_1' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">SoSimple</p>
                <a href="{% url 'sosimple' %}"></a>
            </div>
             <div class="box">
                <p class="box-title">Election1</p>
                <a href="{% url 'election1' %}"></a>
            </div>
             <div class="box">
                <p class="box-title">Seppuku</p>
                <a href="{% url 'seppuku' %}"></a>
            </div>            
            <div class="box">
                <p class="box-title">DriftingBlue6</p>
                <a href="{% url 'driftingblue' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">Katana</p>
                <a href="{% url 'katana' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">Monitoring</p>
                <a href="{% url 'monitoring' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">Vegeta1</p>
                <a href="{% url 'vegeta1' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">GlasgowSmile</p>
                <a href="{% url 'glasgowsmile' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">Gaara</p>
                <a href="{% url 'gaara' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">Stapler</p>
                <a href="{% url 'stapler' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">Loly</p>
                <a href="{% url 'loly' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">FunboxEasyEnum</p>
                <a href="{% url 'funboxeasyenum' %}"></a>
            </div>

            <div class="box">
                <p class="box-title">Blogger</p>
                <a href="{% url 'blogger' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">Bsscute</p>
                <a href="{% url 'bsscute' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">Potato</p>
                <a href="{% url 'potato' %}"></a>
            </div>
            <div class="box">
                <p class="box-title">Amaterasu</p>
                <a href="{% url 'amaterasu' %}"></a>
            </div>
        </div>
     
    </main>


    <footer>

    </footer>
</body>
</html>
