html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.left, .right {
  width: 50%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

#strings{
    width: 500px;
    height: 500px;
}
#S-button{
    width: 200px;
    height: 100px;
}