{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'EthHack/css/tools/util.css' %}">
</head>
<body>
    <h1>IP table</h1>
    <table>
        <thead>
            <tr>
                <th>IP</th>
                <th>SubnetIP</th>
                <th>Hostname</th>
                <th>UserCred</th>
                <th>Flag</th>
                <th>OS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td><a href="{% url 'box140' %}">10.10.xxx.140</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><a href="{% url 'box141' %}">192.168.xxx.141</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td><a href="{% url 'box142' %}">10.10.xxx.142</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><a href="{% url 'box143' %}">192.168.xxx.143</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><a href="{% url 'box144' %}">192.168.xxx.144</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td><a href="{% url 'box145' %}">192.168.xxx.145</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</body>
</html>