{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'EthHack/css/tools/util.css' %}">
</head>
<body>
    <h1>IP table</h1>
    <table>
        <thead>
            <tr>
                <th>IP</th>
                <th>SubnetIP</th>
                <th>Hostname</th>
                <th>UserCred</th>
                <th>Flag</th>
                <th>OS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td><a href="{% url 'box146' %}">10.10.xxx.146</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><a href="{% url 'box147' %}">192.168.xxx.147</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td><a href="{% url 'box148' %}">10.10.xxx.148</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><a href="{% url 'box149' %}">192.168.xxx.149</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><a href="{% url 'box150' %}">192.168.xxx.150</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td><a href="{% url 'box151' %}">192.168.xxx.151</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</body>
</html>